<%- include("partials/header") %>

<main>
  <h1><%= title %></h1>

  <p>Here are a few sample products:</p>

  <ul>
    <li>Product A</li>
    <li>Product B</li>
    <li>Product C</li>
  </ul>
</main>

<%- include("partials/footer") %>